.customize-control-radio-image input[type="radio"] {
    visibility: hidden;
    position: absolute;
}

.customize-control-radio-image img {
    border: 4px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    height: auto;
    max-width: 125px !important;
    margin-top: 5px;
    padding: 1px;
}

.customize-control-radio-image input:checked + img {
    border-color: #00a0d2;
}

.customize-control-radio-image label {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}